.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.stop-watch {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  border: 1px solid rgb(203, 196, 196);
  border-radius: 10px;
  padding: 30px;
}

.stop-watch h1 {
  font-weight: lighter;
  font-size: 60px;
}

.stop-watch button {
  color: white;
  background-color: rgb(64, 123, 255);
  border: 0px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 10px;
}

.stop-watch button:hover {
  background-color: rgb(72, 106, 181);
}